<!-- <div style="display: flex; flex-direction: column">

  <form [formGroup]="form">
    <p>
      Email: <br/>
      <input type="text" formControlName='Email' class="form-control" />
    </p>

    <div *ngIf=" emailCampo!.invalid && ( emailCampo!.touched ||  emailCampo!.dirty)"
    class="alert-danger">

    <div *ngIf=" emailCampo!.errors!.required">Email es requerido !!</div>
    <div *ngIf=" emailCampo!.hasError('email')">Email invalido!!</div>

  </div>
    <p>
      Contraseña: <br/>
    <input type="password"  formControlName="pass" placeholder="Ingrese contraseña" class="form-control" />
    </p>

    <div *ngIf=" passCampo!.invalid && ( passCampo!.touched ||  passCampo!.dirty)"
    class="alert-danger">

    <div *ngIf=" passCampo!.errors!.required">password es requerido !!</div>
    <div *ngIf=" passCampo!.errors!.minlength">
      password debe tener 4 caracteres como min
    </div>

  </div>


  </form>

</div>
 <button  [disabled]="form.invalid"  routerLink="/pages">Login</button> -->

 <form #form="ngForm">
  <div class="card" style="width: 28rem">
    <div class="card-body">
      <h5 class="card-title">Login</h5>
  
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" placeholder="Ingrese email" ngModel #emailIU="ngModel"
          required />
  
        <div *ngIf="emailIU!.invalid && (emailIU!.touched || emailIU!.dirty)" class="alert-danger">
          <div *ngIf="emailIU!.errors!.required">Email es requerido !!</div>
        </div>
      </div>
  
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Ingrese password" ngModel #passIU="ngModel"
          required />
  
        <div *ngIf="passIU!.invalid && (passIU!.touched || passIU!.dirty)" class="alert-danger">
          <div *ngIf="passIU!.errors!.required">password es requerido !!</div>
        </div>
      </div>
  
      <button [disabled]="form.invalid" (click)="onlogin(form)">Login</button>
    </div>
  </div>
 </form>

