<div style="display: flex; flex-direction: column">
  <form #form="ngForm">
    Usuario:<input type="text"  name="usuario"  class="form-control"  minlength="4" required #usuario="ngModel"  ngModel/>
    <br />
    Contraseña:<input type="password"  name="contraseña" class="form-control"  minlength="4"  required #pass="ngModel"  ngModel placeholder="Ingrese contraseña" />
    <br /><br />
  </form>
</div> 

  

<button (click)="onLogin(form)" routerLink="/pages" >Login</button>
<br><br>
 <div  *ngIf="usuario.invalid && (usuario.touched || usuario.dirty)"  class="alert-danger"> 
   <div *ngIf=" usuario.errors!.required" >
    usuario es requerido !!
   </div>
   <div *ngIf=" usuario.errors!.minlength" >
    usuario debe tener 4 caracteres como  min
   </div>
   
 </div>

 <br><br>
 <div  *ngIf="pass.invalid && (pass.touched || pass.dirty)"  class="alert-danger"> 
   <div *ngIf="pass.errors!.required" >
    password es requerido !!
   </div>
   <div *ngIf="pass.errors!.minlength" >
    password debe tener 4 caracteres como  min
   </div>
  
 </div>