<br>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Agregar
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]= "productForm"  style="display: flex; flex-direction: column  ;">
          <p>
            Titulo: <br/>
          <input  formControlName="titulo" type="text" class="form-control"   >
          </p>

          <div *ngIf="productForm.get('titulo')!.invalid && (productForm.get('titulo')!.touched || productForm.get('titulo')!.dirty)"
          class="alert-danger">

          <div *ngIf="productForm.get('titulo')!.errors!.required">titulo es requerido !!</div>
          <div *ngIf="productForm.get('titulo')!.errors!.minlength">
            password debe tener 4 caracteres como min
          </div>
        </div>

        <p>
          Descripcion: <br/>
         <input  formControlName="descripcion" type="text" class="form-control">
        </p>

         <div *ngIf="productForm.get('descripcion')!.invalid && (productForm.get('descripcion')!.touched || productForm.get('descripcion')!.dirty)"
         class="alert-danger">

         <div *ngIf="productForm.get('descripcion')!.errors!.required">descripcion es requerido !!</div>
         <div *ngIf="productForm.get('descripcion')!.errors!.minlength">
          descripcion debe tener 4 caracteres como min
         </div>
        </div>

        <p>
          precio: <br/>
         <input formControlName="precio" type="text" class="form-control" >
        </p>
         <div *ngIf="productForm.get('precio')!.invalid && (productForm.get('precio')!.touched || productForm.get('precio')!.dirty)"
         class="alert-danger">

         <div *ngIf="productForm.get('precio')!.errors!.required">precio es requerido !!</div>
         <div *ngIf="productForm.get('precio')!.errors!.minlength">
          precio debe tener 1 caracteres como min
         </div>
        </div>

        <p>
          id: <br/>
         <input formControlName="id" type="text"  class="form-control">
        </p>
         <div *ngIf="productForm.get('id')!.invalid && (productForm.get('id')!.touched || productForm.get('id')!.dirty)"
         class="alert-danger">

         <div *ngIf="productForm.get('id')!.errors!.required">id es requerido !!</div>
         <div *ngIf="productForm.get('id')!.errors!.minlength">
          id debe tener 1 caracteres como min
         </div>
        </div>

        <p>
          ImagenUrl: <br/>
         <input formControlName="imageUrl" type="text" class="form-control">
        </p>
         <div *ngIf="productForm.get('imageUrl')!.invalid && (productForm.get('imageUrl')!.touched || productForm.get('imageUrl')!.dirty)"
         class="alert-danger">

            <div *ngIf="productForm.get('imageUrl')!.errors!.required">imagen es requerido !!</div>
            <div *ngIf="productForm.get('imageUrl')!.errors!.minlength">
              imagen debe tener 1 caracteres como min
            </div>
        </div>

        </form>

        <button  [disabled]="productForm.invalid"   (click)="onEnviar()">Enviar</button>

        <p  class="alert-danger" >{{error}}</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary"(click)="Modificar()">Modificar</button>
      </div>
    </div>
  </div>
</div>


<div class="row" >
  <div *ngFor="let comidas of productos" class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <br>
      <div class="card" style="width: 18rem;">

        <div class="card shadow-sm">
          <img src={{comidas.imageUrl}} class="card-img-top" alt="comidas ricas en pedidos ya!" width="100%" height="225">

          <div class="card-body">
            <h4 class="card-title"> {{comidas.titulo}} </h4>
            <p class="card-text">{{comidas.descripcion}}</p>
            <p class="card-text">{{comidas.precio}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal"  (click)="onEdit(comidas)">
                  Editar
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onDelete(comidas.ID)"> Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

</div>
<P  class="alert-danger" >{{ErrorDelete}}</P>

