 
 <div class="fondo">


 <!-- titulo del formulario -->

<div class="conteniner ">
  <div class="row">
    <div class="col">
      <h2 class="mb-3">Formulario de Productos</h2>

      <p class="mt-3">El mejor sitio para poder vender sus productos de comida no espere mas para ganar y gustar </p>
    </div>
    <div class="row">
  </div>
</div>

<!-- formulario de agregar productos -->

<div class="conteiner  mt-3">
  <div class="row">
    <div class="col-11 mx-auto" >
      <form [formGroup]="productForm" class="was-validated " >

        <label for="tituloValidation">Titulo</label>

        <input formControlName="titulo" type="text" class="form-control  is-valid " value=" " required>

        <div class="invalid-feedback"
          *ngIf="productForm.get('titulo')!.invalid && (productForm.get('titulo')!.touched || productForm.get('titulo')!.dirty)">
          <div *ngIf="productForm.get('titulo')!.errors!.required">titulo es requerido !!</div>
        </div>


        <label for="validationDescri">Descripcion</label>
        <input formControlName="descripcion" type="text" class="form-control is-valid" value=" " required>

        <div class="invalid-feedback"
          *ngIf="productForm.get('descripcion')!.invalid && (productForm.get('descripcion')!.touched || productForm.get('descripcion')!.dirty)">

          <div *ngIf="productForm.get('descripcion')!.errors!.required">descripcion es requerido !!</div>
          <div *ngIf="productForm.get('descripcion')!.errors!.minlength">
            descripcion debe tener 4 caracteres como min
          </div>
        </div>


        <label for="validationPrecio">Precio</label>
        <input formControlName="precio" type="number" class="form-control is-valid" value="0" required>

        <div class="invalid-feedback"
          *ngIf="productForm.get('precio')!.invalid && (productForm.get('precio')!.touched || productForm.get('precio')!.dirty)">

          <div *ngIf="productForm.get('precio')!.errors!.required">precio es requerido !!</div>

        </div>


      <label for="validationImg">ImagenUrl</label>

        <input formControlName="imageUrl" type="text" class="form-control is-valid"value=" " required >

        <div class="invalid-feedback "> imagen es requerido !! </div>

        <button type="reset" value="limpiar" class="btn  btn-outline-secondary mt-3 me-3">Borrar</button>

        <button type="button" class="btn btn-primary mt-3 ms-3" (click)="onEnviar()">Enviar</button>

      </form>

    </div>
  </div>
</div>

<p class="alert-danger">{{error}}</p>


<!-- Modal-editar y modificar -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header  card-admin">
        <h5 class="modal-title" id="exampleModalLabel">Producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body  card-admin">

        <form [formGroup]="productForm" style="display: flex; flex-direction: column  ;">
          <p>
            Titulo: <br />
            <input formControlName="titulo" type="text" class="form-control">
          </p>

          <div
            *ngIf="productForm.get('titulo')!.invalid && (productForm.get('titulo')!.touched || productForm.get('titulo')!.dirty)"
            class="alert-danger">

            <div *ngIf="productForm.get('titulo')!.errors!.required">titulo es requerido !!</div>
            <div *ngIf="productForm.get('titulo')!.errors!.minlength">
              password debe tener 4 caracteres como min
            </div>
          </div>

          <p>
            Descripcion: <br />
            <input formControlName="descripcion" type="text" class="form-control">
          </p>

          <div
            *ngIf="productForm.get('descripcion')!.invalid && (productForm.get('descripcion')!.touched || productForm.get('descripcion')!.dirty)"
            class="alert-danger">

            <div *ngIf="productForm.get('descripcion')!.errors!.required">descripcion es requerido !!</div>
            <div *ngIf="productForm.get('descripcion')!.errors!.minlength">
              descripcion debe tener 4 caracteres como min
            </div>
          </div>

          <p>
            precio: <br />
            <input formControlName="precio" type="text" class="form-control">
          </p>
          <div
            *ngIf="productForm.get('precio')!.invalid && (productForm.get('precio')!.touched || productForm.get('precio')!.dirty)"
            class="alert-danger">

            <div *ngIf="productForm.get('precio')!.errors!.required">precio es requerido !!</div>
            <div *ngIf="productForm.get('precio')!.errors!.minlength">
              precio debe tener 1 caracteres como min
            </div>
          </div>

          <p>
            ImagenUrl: <br />
            <input formControlName="imageUrl" type="text" class="form-control">
          </p>
          <div
            *ngIf="productForm.get('imageUrl')!.invalid && (productForm.get('imageUrl')!.touched || productForm.get('imageUrl')!.dirty)"
            class="alert-danger">

            <div *ngIf="productForm.get('imageUrl')!.errors!.required">imagen es requerido !!</div>
            <div *ngIf="productForm.get('imageUrl')!.errors!.minlength">
              imagen debe tener 1 caracteres como min
            </div>
          </div>

        </form>
        <p class="alert-danger">{{error}}</p>

      </div>
      <div class="modal-footer  card-admin">
        <button type="reset" value="limpiar" class="btn btn-secondary boton-admin" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn boton-admin" (click)="Modificar()">Modificar</button>
      </div>
    </div>
  </div>
</div>

<!-- lista productos-->
<div class="row ">
  <div *ngFor="let comidas of productos" class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
    <br>
    <div class="card" style="width: 18rem;">

      <div class="card shadow-sm card-admin ">
        <img src={{comidas.imageUrl}} class="card-img-top" alt="comidas ricas en pedidos ya!" width="100%" height="225">

        <div class="card-body ">
          <h4 class="card-title"> {{comidas.titulo}} </h4>
          <p class="card-text">{{comidas.descripcion}}</p>
          <p class="card-text">${{comidas.precio}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary boton-admin" data-bs-toggle="modal"
                data-bs-target="#exampleModal" (click)="onEdit(comidas)">
                Editar
              </button>
              <button type="button" class="btn btn-sm btn-outline-secondary ms-3 boton-admin" (click)="onDelete(comidas.ID)">
                Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<P class="alert-danger">{{ErrorDelete}}</P>
</div>