
.container{
  display: flex;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.choice{

  height: 180px;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  float: left;
  align-items: center;
  transition: width 0.2s;
  border-radius:3px;

}

.expand{
  width :64%;



}
.unset{
  width :16%;
  background-color: #ddd !important;

}
.small{
  width :4%;

  background-color: #ddd !important;
}
.small>div{
  opacity: 0;
}

.unset > div > p{
  opacity: 0;

}

.expand > div {
  transition-delay:  200ms;
  opacity: 1;

}

.card-admin{
  background-color: #003D63;
  color: white;
}

.boton-admin{
  background-color: #FF0D0D;
  color:white;

}
.boton-admin:hover{
  background-color: #470404;
 color:white;

}

h2{
  display: inline;
  border-bottom: 1px solid black;
}
.fondo{
  background-color: rgb(228, 222, 222);
}