<div class="container-fluid">
  <div class="col">
    <div class="row">
      <div *ngFor="let comidas of productos" class="col col-sm col-md-6 col-lg-4 col-xl-4">
        <br>
        <div class="card" style="width: 18rem;">
          <div class="card shadow-sm">
            <img src={{comidas.imageUrl}} class="card-img-top" alt="comidas ricas en pedidos ya!" width="100%" height="225">
            <div class="card-body">
              <h4 class="card-title"> {{comidas.titulo}} </h4>
              <p class="card-text">{{comidas.descripcion}}</p>
              <p class="card-text">{{comidas.precio}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"> Comprar </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

