<div class="fondo">


<div class="conteiner">
  <div class="row">
    <div class="col-sm-6 mx-auto mt-4 mb-3">
      <h1>Bienvenidos a Good Food </h1>
    </div>
    <div class="row">
      <div class="col text-home">
        <p>Un sitio de comidas al alcanse de tu mano para un mayor disfrute y deleite no espere mas pruevenos </p>

      </div>
    </div>

  </div>
</div>


<div class="row mt-4  ms-5 ">
  <div *ngFor="let comidas of productos" class="col col-sm col-md-6 col-lg-4 col-xl-4">

    <div class="card " style="width: 18rem;">
      <div class="card shadow-sm card-home">
        <img src={{comidas.imageUrl}} class="card-img-top" alt="comidas ricas en pedidos ya!" width="100%" height="225">
        <div class="card-body">
          <h4 class="card-title"> {{comidas.titulo}} </h4>

          <p class="card-text">{{comidas.descripcion}}</p>
          <p class="card-text">${{comidas.precio}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn btn-md boton-comprar"> Comprar </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



</div>